{% extends 'barberia/index.html' %}

{% block titulo %}
Servicios
{% endblock titulo %}

{% block contenido %}

<div class="container mt-4">
    {% if mensaje %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-md-10">
            <h2>Servicios</h2>
        </div>
        <div class="col-md-2 text-end">
            <a href="{% url 'serviciosForm' %}" class="btn btn-success btn-sm">
                <i class="fa fa-plus fa-lg" title="Crear"></i>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>Id</th>
                    <th>Servicios</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for s in servicios %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.nombre }}</td>
                    <td>{{ s.descripcion }}</td>
                    <td>{{ s.precio }}</td>
                    <td>
                        <a href="{% url 'serviciosUpdate' s.id %}" class="btn btn-success btn-sm">
                            <i class="fa fa-edit fa-sm" title="Edit Record"></i>
                        </a>
                        <a href="{% url 'serviciosDelete' s.id %}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash fa-sm" title="Delete Record"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}
