{% extends 'barberia/index.html' %}

{% block titulo %}
Servicios
{% endblock titulo %}

{% block contenido %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicios</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
        {% for s in servicios %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.nombre }}</td>
                <td>{{ s.descripcion }}</td>
                <td>{{ s.precio }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
    