{% extends 'barberia/index.html' %}

{% block titulo %}
Sucursales
{% endblock titulo %}

{% block contenido %}

<div class="container mt-4">
    {% if mensaje %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-md-10">
            <h2>Sucursales</h2>
        </div>
        <div class="col-md-2 text-end">
            <a href="{% url 'sucursalForm' %}" class="btn btn-success btn-sm">
                <i class="fa fa-plus fa-lg" title="Crear"></i>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>Id</th>
                    <th>Sucursal</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Horario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for k in sucursal %}
                <tr>
                    <td>{{ k.id }}</td>
                    <td>{{ k.nombreSucursal }}</td>
                    <td>{{ k.direccionSucursal }}</td>
                    <td>{{ k.telSucursal }}</td>
                    <td>{{ k.horariosSucursal }}</td>
                    <td>
                        <a href="{% url 'sucursalUpdate' k.id %}" class="btn btn-success btn-sm">
                            <i class="fa fa-edit fa-sm" title="Edit Record"></i>
                        </a>
                        <a href="{% url 'sucursalDelete' k.id %}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash fa-sm" title="Delete Record"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}